body{
    background-color: rgba(0, 255, 213, 0.932);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    text-align: center;
}

 
.seconds{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.tens{
    height: 50px;
    width: 50px;
    display: inline-block;
}

#start, #stop, #reset {
    font-size: 30px;
    border-style: solid black;
    background-color: rgba(115, 145, 209, 0.932);
    border-radius: 5px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  #start:hover, #stop:hover, #reset:hover {
    transform: scale(1.1);
  }